---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { Image } from "astro:assets";

import logoAtlantis from "../assets/logo_atlantis.jpeg";
import logoCeltra from "../assets/logo_celtra.jpeg";
import logoVita from "../assets/logo_vita.jpg";
import logoEmax from "../assets/logo_emax.jpg";
import logoDDS from "../assets/logo_distinctivedentalstudio.png";

import trevorHillmann from "../assets/trevor_hillmann.jpeg";
import braceMoulds from "../assets/brace_moulds.jpg";
---

<Layout title="Distinctive Dental Studio">
  <nav class="bg-white border-gray-200 dark:bg-gray-900">
    <div
      class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
    >
      <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
        <Image src={logoDDS} class="h-10 w-10" alt="Flowbite Logo" />
        <span
          class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
          >Distinctive Dental Studio</span
        >
      </a>
      <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
        <a
          href="tel:+14034555543"
          class="text-white bg-teal-500 hover:bg-teal-800 focus:ring-4 focus:outline-none focus:ring-teal-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-teal-500 dark:hover:bg-teal-500 dark:focus:ring-teal-800"
          >Phone us</a
        >
        <button
          data-collapse-toggle="navbar-cta"
          type="button"
          class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
          aria-controls="navbar-cta"
          aria-expanded="false"
        >
          <span class="sr-only">Open main menu</span>
          <svg
            class="w-5 h-5"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 17 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 1h15M1 7h15M1 13h15"></path>
          </svg>
        </button>
      </div>
      <div
        class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
        id="navbar-cta"
      >
        <ul
          class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700"
        >
          <li>
            <a
              href="#about"
              class="block py-2 px-3 md:p-0 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-teal-500 md:dark:hover:text-teal-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
              >About</a
            >
          </li>
          <li>
            <a
              href="#services"
              class="block py-2 px-3 md:p-0 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-teal-500 d:dark:hover:text-teal-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
              >Services</a
            >
          </li>
          <li>
            <a
              href="#contact"
              class="block py-2 px-3 md:p-0 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-teal-500 md:dark:hover:text-teal-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
              >Contact</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <main>
    <section class="bg-white dark:bg-gray-900">
      <div
        class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-12"
      >
        <div
          class="inline-flex justify-between items-center py-1 px-1 pr-4 mb-7 text-sm text-gray-700 bg-gray-100 rounded-full dark:bg-gray-800 dark:text-white hover:bg-gray-200 dark:hover:bg-gray-700"
        >
          <span
            class="text-xs bg-teal-500 rounded-full text-white px-4 py-1.5 mr-3"
            >Hours</span
          >
          <span class="text-sm font-medium">Mon to Fri - 8:00am - 4:30pm</span>
        </div>
        <h1
          class="max-w-4xl mx-auto mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white"
        >
          Distinctive Dental Studio is Calgary's digital lab and milling centre
        </h1>
        <p
          class="mb-8 text-xl font-normal text-gray-600 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400"
        >
          We promise exact quality control, consistency, and exceptional
          customer service.
        </p>
        <div
          class="flex flex-col mb-8 lg:mb-16 space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4"
        >
          <a
            href="mailto:trevor@distinctivedentalstudio.ca"
            class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-teal-500 hover:bg-teal-800 focus:ring-4 focus:ring-teal-300 dark:focus:ring-teal-900"
          >
            Email us

            <svg
              class="ml-2 -mr-1 w-5 h-5"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 16"
            >
              <path
                d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z"
              ></path>
              <path
                d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z"
              ></path>
            </svg>
          </a>
          <a
            href="tel:+14034555543"
            class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-gray-900 rounded-lg border border-gray-300 hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800"
          >
            Phone us
            <svg
              class="ml-2 -mr-1 w-5 h-5"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 19 18"
            >
              <path
                d="M18 13.446a3.02 3.02 0 0 0-.946-1.985l-1.4-1.4a3.054 3.054 0 0 0-4.218 0l-.7.7a.983.983 0 0 1-1.39 0l-2.1-2.1a.983.983 0 0 1 0-1.389l.7-.7a2.98 2.98 0 0 0 0-4.217l-1.4-1.4a2.824 2.824 0 0 0-4.218 0c-3.619 3.619-3 8.229 1.752 12.979C6.785 16.639 9.45 18 11.912 18a7.175 7.175 0 0 0 5.139-2.325A2.9 2.9 0 0 0 18 13.446Z"
              ></path>
            </svg>
          </a>
        </div>
        <div
          class="px-4 mx-auto text-center md:max-w-screen-md lg:max-w-screen-xl lg:px-36"
        >
          <span class="font-semibold text-gray-400 uppercase"
            >Materials we work with</span
          >

          <div
            class="grid grid-cols-2 gap-8 text-gray-500 sm:gap-12 md:grid-cols-3 lg:grid-cols-4 dark:text-gray-400"
          >
            <div class="flex justify-center items-center">
              <Image src={logoAtlantis} alt="Atlantis logo" class="" />
            </div>
            <div class="flex justify-center items-center">
              <Image src={logoCeltra} alt="Celtra logo" class="" />
            </div>
            <div class="flex justify-center items-center">
              <Image src={logoEmax} alt="Emax logo" class="" />
            </div>
            <div class="flex justify-center items-center">
              <Image src={logoVita} alt="Vita logo" class="" />
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="about" class="bg-white dark:bg-gray-900">
      <div
        class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6"
      >
        <div class="font-light text-gray-600 sm:text-lg dark:text-white">
          <h2
            class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
          >
            About Distinctive Dental Studio
          </h2>
          <p class="text-xl mb-4">
            My name is Trevor, owner and head technologist at Distinctive Dental
            Studio which is a digital/conventional lab as well as a state of the
            art milling centre. DDS was established in 2007 and has been making
            dentists and patient's lives more comfortable for over ten years.
            Exact quality control, consistency and unmatched customer service is
            the focus here at DDS.
          </p>
          <p class="text-xl">
            The technicians at DDS are registered with Alberta College and are
            dedicated to continued education and staying current with new
            technologies, techniques and materials for all areas crown/bridge
            and implant fabrication. Consider us a resource at your disposal!
          </p>
        </div>
        <div class="mt-8">
          <Image
            class="w-full rounded-lg"
            src={trevorHillmann}
            alt="Trevor Hillmann standing in front of a DDS logo"
          />
        </div>
      </div>
    </section>

    <section id="services" class="bg-white dark:bg-gray-900">
      <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
        <div class="max-w-screen-md mb-8 lg:mb-16">
          <h2
            class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
          >
            Our technology allows us to provide model-less cases and a one day
            turn around
          </h2>
          <p class="text-gray-600 text-xl dark:text-white mb-4">
            DDS invested in the Dentsply Sirona in lab system which is the most
            open and versatile system on the market, capable of import/export of
            all stl files. This technology allows us to fabricate everything
            under the roof of DDS and has eliminated any need for outsourcing
            and opens the doors to every material available on the market.
          </p>
          <p class="text-gray-600 text-xl dark:text-white">
            We accept digital impressions from iTero, Omnicam Trios and through
            the Sirona connect portal. We have access to all materials and will
            special order for personal preferences.
          </p>
        </div>
        <div
          class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0"
        >
          <div>
            <ul role="list" class="mt-6 text-xl">
              <li class="flex">
                <!-- Icon -->
                <svg
                  class="shrink-0 h-5 w-5 text-teal-500 dark:text-teal-500"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                  ><path
                    fill-rule="evenodd"
                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                    clip-rule="evenodd"></path></svg
                >
                <span class="leading-5 ml-2 space-x-0"
                  >Full contour zirconia/frameworks (All brands)
                </span>
              </li>
              <li class="flex mt-6">
                <!-- Icon -->
                <svg
                  class="shrink-0 h-5 w-5 text-teal-500 dark:text-teal-500"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                  ><path
                    fill-rule="evenodd"
                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                    clip-rule="evenodd"></path></svg
                >
                <span class="leading-5 ml-2 space-x-0"
                  >All ceramic (E.max, Celtra duo/press, LiSi, Straumann N!CE)
                </span>
              </li>
              <li class="flex mt-6">
                <!-- Icon -->
                <svg
                  class="shrink-0 h-5 w-5 text-teal-500 dark:text-teal-500"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                  ><path
                    fill-rule="evenodd"
                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                    clip-rule="evenodd"></path></svg
                >
                <span class="leading-5 ml-2 space-x-0"
                  >Hybrid (GC Cerasmart, Vita enamic, Lava Ultimate)
                </span>
              </li>
            </ul>
          </div>
          <div>
            <ul role="list" class="mt-6 text-xl">
              <li class="flex">
                <!-- Icon -->
                <svg
                  class="shrink-0 h-5 w-5 text-teal-500 dark:text-teal-500"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                  ><path
                    fill-rule="evenodd"
                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                    clip-rule="evenodd"></path></svg
                >
                <span class="leading-5 ml-2 space-x-0"
                  >Implants (all systems)
                </span>
              </li>
              <li class="flex mt-6">
                <!-- Icon -->
                <svg
                  class="shrink-0 h-5 w-5 text-teal-500 dark:text-teal-500"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                  ><path
                    fill-rule="evenodd"
                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                    clip-rule="evenodd"></path></svg
                >
                <span class="leading-5 ml-2 space-x-0">Printed Models</span>
              </li>
              <li class="flex mt-6">
                <!-- Icon -->
                <svg
                  class="shrink-0 h-5 w-5 text-teal-500 dark:text-teal-500"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                  ><path
                    fill-rule="evenodd"
                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                    clip-rule="evenodd"></path></svg
                >
                <span class="leading-5 ml-2 space-x-0">Frameworks</span>
              </li>
            </ul>
          </div>
          <div>
            <ul role="list" class="mt-6 text-xl">
              <li class="flex">
                <!-- Icon -->
                <svg
                  class="shrink-0 h-5 w-5 text-teal-500 dark:text-teal-500"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                  ><path
                    fill-rule="evenodd"
                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                    clip-rule="evenodd"></path></svg
                >
                <span class="leading-5 ml-2 space-x-0"
                  >Crowns & Bridges (anatomical)
                </span>
              </li>
              <li class="flex mt-6">
                <!-- Icon -->
                <svg
                  class="shrink-0 h-5 w-5 text-teal-500 dark:text-teal-500"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                  ><path
                    fill-rule="evenodd"
                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                    clip-rule="evenodd"></path></svg
                >
                <span class="leading-5 ml-2 space-x-0">Inlays & Onlays</span>
              </li>
              <li class="flex mt-6">
                <!-- Icon -->
                <svg
                  class="shrink-0 h-5 w-5 text-teal-500 dark:text-teal-500"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                  ><path
                    fill-rule="evenodd"
                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                    clip-rule="evenodd"></path></svg
                >
                <span class="leading-5 ml-2 space-x-0">Veneers</span>
              </li>
            </ul>
          </div>
        </div>

        <div>
          <Image
            class="h-auto max-w-full rounded-lg mt-24"
            src={braceMoulds}
            alt="denture brace moulds"
          />
        </div>
      </div>
    </section>

    <section class="bg-white dark:bg-gray-900">
      <div
        class="max-w-screen-xl px-4 py-8 mx-auto text-center lg:py-16 lg:px-6"
      >
        <figure class="max-w-screen-md mx-auto">
          <svg
            class="h-12 mx-auto mb-3 text-gray-400 dark:text-gray-600"
            viewBox="0 0 24 27"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M14.017 18L14.017 10.609C14.017 4.905 17.748 1.039 23 0L23.995 2.151C21.563 3.068 20 5.789 20 8H24V18H14.017ZM0 18V10.609C0 4.905 3.748 1.038 9 0L9.996 2.151C7.563 3.068 6 5.789 6 8H9.983L9.983 18L0 18Z"
              fill="currentColor"></path>
          </svg>
          <blockquote>
            <p class="text-2xl font-medium text-gray-900 dark:text-white">
              "DDS is a great lab to work with. State of the art CAD/CAM
              technology, prompt service and great lab technicians. Always easy
              to communicate with and will create what you are expecting to see
              out of your lab work. "
            </p>
          </blockquote>
          <figcaption class="flex items-center justify-center mt-6 space-x-3">
            <div
              class="flex items-center divide-x-2 divide-gray-500 dark:divide-gray-700"
            >
              <div class="pr-3 font-medium text-gray-900 dark:text-white">
                Dr. Jodi Gergely
              </div>
              <div
                class="pl-3 text-sm font-light text-gray-500 dark:text-gray-400"
              >
                DDS at Royal Oak Dental
              </div>
            </div>
          </figcaption>
        </figure>
      </div>
    </section>

    <section id="contact" class="bg-white dark:bg-gray-900">
      <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
        <div class="mx-auto max-w-screen-sm text-center">
          <h2
            class="mb-4 text-4xl tracking-tight font-extrabold leading-tight text-gray-900 dark:text-white"
          >
            Come find us
          </h2>
          <p class="mb-6 font-bold text-gray-500 dark:text-gray-400 text-xl">
            Address: <a
              href="https://www.google.com/maps/place/Distinctive+Dental+Studio/@51.1207647,-114.1803156,15z/data=!4m2!3m1!1s0x0:0x2c2d1f142fd6710a?sa=X&ved=2ahUKEwim5qa4udiCAxW_NzQIHT4NDscQ_BJ6BAg3EAA"
              target="_blank"
              class="underline text-teal-500"
            >
              17A-7750 Ranchview Dr. N.W. Calgary, Alberta, T3G 1Y9</a
            >
          </p>
          <p class="mb-6 font-bold text-gray-500 dark:text-gray-400 text-xl">
            Phone: <a href="tel:+14034555543" class="underline text-teal-500"
              >403-455-5543</a
            >
          </p>
          <p class="mb-12 font-bold text-gray-500 dark:text-gray-400 text-xl">
            Email: <a
              href="mailto:trevor@distinctivedentalstudio.ca"
              class="underline text-teal-500"
              >trevor@distinctivedentalstudio.ca</a
            >
          </p>
          <a
            href="https://www.instagram.com/distinctivedentalstudio/"
            target="_blank"
            class="text-white bg-teal-500 hover:bg-teal-800 focus:ring-4 focus:ring-teal-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-teal-500 dark:hover:bg-teal-500 focus:outline-none dark:focus:ring-teal-800"
            >Follow us on Instagram</a
          >
        </div>
      </div>
    </section>

    <footer class="bg-white rounded-lg shadow m-4 dark:bg-gray-800">
      <div
        class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
      >
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
          >© 2023 <a href="https://flowbite.com/" class="hover:underline"
            >Distinctive Dental Studio</a
          >. All Rights Reserved.
        </span>
      </div>
    </footer>
  </main>
</Layout>
